# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore development environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore IDE and editor files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
